@import "tailwindcss";

@keyframes bell {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(12deg); }
  40% { transform: rotate(-12deg); }
  60% { transform: rotate(8deg); }
  80% { transform: rotate(-8deg); }
  100% { transform: rotate(0deg); }
}

.bell-hover:hover {
  animation: bell 0.5s ease-in-out;
  transform-origin: top;
}
